.row {
display:block;
}

body {

overflow:hidden;

}

.cell {
display:inline-block;
min-width:50px;
min-height:50px;
border:1px solid black;
margin:1px;
}

.table {
  background-color:black;

}

.options {
display:inline-block;
vertical-align:top;
}

.options_button {
display:block;
vertical-align:top;
}
.title {
  font-family:sans-serif;
font-size: 40px;
}

.god {
font-size: 24px;
color:#229922;

}
